@import "~bootstrap/scss/bootstrap";

body {   
    background: url("assets/weather_bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-container {
    color: aliceblue;
    background: rgba(0, 0, 0, 0.5);    
    text-align: center;
    border: 1px solid #000;   
    border-radius: 10px;
    padding: 10px;
    height: 530px;
    margin-top: 50px;
    
}

.header {
    margin: 50px 0 100px 0;
    text-align: center;

    h3 {
        color: #04ff04;
    }
}
.form-message-fail {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    span {
        color: rgb(101, 2, 2);
        background-color: rgb(245, 94, 94);
        padding: 10px;
        font-weight: bold;
        font-size: 20px;
        border-radius: 5px;
    }
   
}

.form-message-success {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    span {
        color: rgb(14, 78, 2);
        background-color: rgb(94, 245, 112);
        padding: 10px;
        font-weight: bold;
        font-size: 20px;
        border-radius: 5px;
    }
   
}

.form-container {
    display: flex;
    justify-content: center;
    align-content: center;
    
    
    

    .form {
        border: 1px solid rgb(192, 192, 192);
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 30%;
    }

    .btn-container {
        display: flex;
        justify-content: flex-end;
    }
}

.ml-5{
    margin-left: 10px;
}

.cover {
    height: 100%;
    background: rgba(0, 0, 0, 0.5);    
    min-height: 873px;
}

.weather {
    color: white;
    background: rgba(0, 0, 0, 0.5);    
    text-align: center;
    border: 1px solid #000;   
    border-radius: 10px;
    padding: 10px;
    width: 30%;

    .name {
        text-transform: uppercase;
    }

    .country {
        color: rgb(161, 161, 161);
    }

    .text {
        margin-top: 30px;
    }

    .img {
        height: 100px;

        img {
            height: 100%;
        }
    }

    .temp {
        font-size: 50px;
    }

}

.search-container {
    text-align: center;

    
    .search-input {
        color: white;
        background: rgba(0, 0, 0, 0.5);        
        border: 1px solid #000;   
        border-radius: 25px;
        padding: 10px;
        margin: 10px;
        width: 20%;
    }

}
